<div class="allover-container" id="allovercontainer">
	<div class="header-container">
		<div class="header-100">{{ __("House") }}</div>
		<div class="header-200">{{ __("Apartment") }}</div>
		<div class="header-80">{{ __("Rooms") }}</div>
		<div class="header-80">{{ __("Position") }}</div>
		<div class="header-80">{{ __("Price per month") }}</div>
		<div class="header-80">{{ __("Service per month") }}</div>
		{% for header in headers.headers %}
			<div class="header-t">{{ __(header.weekday) }}<br>{{ __(header.day) }}</div>
		{% endfor %}
	</div>
	<div class="planner-container">
		{% for row in rows %}
			{{ row }}
		{% endfor %}
	</div>
</div>