<div class="table-responsive">
	<table class="table table-fixed table-striped" id="filtertable">
		<thead>
			<tr>
				<th style="width: 5%; min-height: 60px;">{{ __("House") }}</th>
				<th style="width: 5%; min-height: 60px;">{{ __("Apartment") }}</th>
				<th style="width: 3%; min-height: 60px;">{{ __("Rooms") }}</th>
				<th style="width: 3%; min-height: 60px;">{{ __("Position") }}</th>
				<th style="width: 3%; min-height: 60px;">{{ __("Price per month") }}</th>
				<th style="width: 3%; min-height: 60px;">{{ __("Price per day") }}</th>
				{% for header in headers.headers %}
					<th style="width: 1%; min-height: 60px;">{{ __(header.weekday) }} {{ __(header.day) }}</th>
				{% endfor %}
			</tr>
		</thead>
		<tbody>
			{% for row in rows %}
				{{ row }}
			{% endfor %}
		</tbody>
	</table>
</div>



